.App{
  margin: 0 auto;
  position: relative;
 

}
.App2{
 
  display: block;
  margin: 0 auto;
}
h1{
  text-align: center;
}
button{
  padding: 12px 24px;
  background-color: transparent;
  border-color: #EC3B9C;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 1rem;
  width: 38%;
  outline: none;
  flex: 1;
  display: block;
  margin: 0 auto;
  
}
button:hover{
  background:  #ee9ca7;
  transition: all .3s !important;
  border-color: red;
 
  
}